.formPadding{
	background: #1E2029;
	padding: 20px;
}

.formContainer{
	background: white;
	padding: 20px;
	border-bottom: 1px solid #1E2029;
}

.formHeader{
	margin-bottom: 20px;
}

.formInput{
	border-left: 2px solid #1E2029;
}

.submitButton{
	background: #88C470;
	padding: 30px;
	color: white;
	outline: none;
}

form {
	div{
		margin-bottom: 20px;
	}
}

.commentsContainer{
	background: white;
}

.comment {
	list-style: none;
}

.commentName{
	border-top: 1px solid black;
}